

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bindawood Group of Companies</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/css/AdminLTE.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body onload="window.print();">

    <section class="wrapper">

        <div class="clearfix"></div>

        <section class="invoice">
            <br />
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        Purchasing Order ( Daily Report )
                    </h2>
                </div>
            </div>

            <div class="row">
                <br />
                <br />
                <div class="col-xs-12">
                    <p style="font-size: 12px; font-weight: bold">Daily Report as of @ViewBag.CDate</p>
                    <br />
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tr>
                                <th style="width:20%"></th>
                                <td align="center">DOWNLOADED PO(s)</td>
                                <td></td>
                                <td align="center">AVAILABLE PO(s)</td>
                                <td></td>
                                <td align="center">OVERALL PO(s)</td>
                            </tr>
                            <tr>
                                <th style="width:20%"></th>
                                <td align="center"></td>
                                <td></td>
                                <td align="center"></td>
                                <td></td>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <th>@ViewBag.Region </th>                                
                                <td align="center"><span class="text-red">@ViewBag.DL</span></td>
                                <td></td>
                                <td align="center"><span class="text-orange">@ViewBag.AV</span></td>
                                <td></td>
                                <td align="center"><span class="text-green">@ViewBag.OA</span></td>
                            </tr>                            
                        </table>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <br />
                    </h2>
                </div>
            </div>


        </section>

        <div class="clearfix"></div>


    </section><!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/js/demo.js"></script>


</body>
</html>


